<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <div class="text-layout">
    <h1>{{'Hola mundo' | uppercase}}</h1>
    <h1>{{'Hola mundo' | lowercase}}</h1>
    <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>
    <h1>{{obj | json}}</h1>
</div>

<button pButton type="button" label="Mostar Nombre" (click)="mostrarNombre()" icon="pi pi-check" iconPos="right"
    class="p-button-help"></button>

<br>
<br>

<p-card [header]="nombre | uppercase" subheader="SubHeader">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem hic asperiores vero tempore odit veritatis
    nulla, quis quasi obcaecati nisi, quos aliquam aspernatur a, aperiam molestiae laboriosam beatae. Corporis, animi?

    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-card> -->